// Colors
$color__white       :          #FFFFFF;
$color__Black       :          #000000;
$color__pink        :          #CB007B;
$color__silver      :          #757575;
$color__lightBlue   :          #00abc5;

// Fonts
$ff_cairo           :           'Cairo', sans-serif;