.prize-axes {
    margin-top: 50px;
    position: relative;
    z-index: 1;

    @include xxl-devices {
        margin-top: -150px;
    }

    .category-item-wrapper {
        @include md-devices {
            margin-top: 20px;
        }
        .owl-stage-outer {
            padding: 10px;
            margin: 0 -10px;

            @include xsm-devices {
                padding: 15px;
                margin: 0 -15px;
            }
            @include md-devices {
                padding: 20px;
                margin: 0 -20px;
            }
        }
        .item {
            background-color: #f1f5ff;
            box-shadow: 0 0 10px rgba($color__Black, 0.05);

            padding: 20px 10px 20px;
            border-radius: 10px;
            text-align: center;

            @include xs-devices {
                padding: 25px 20px 25px;
            }
            @include xsm-devices {
                box-shadow: 0 0 15px rgba($color__Black, 0.05);
            }
            @include md-devices {
                box-shadow: 0 0 20px rgba($color__Black, 0.05);
            }
            @include xl-devices {
                padding: 30px 20px;
            }
            .icon {
                @include width-height(40px, 40px);
                margin: 0 auto 10px; 
                @include flex-center;
                
                @include lg-devices {
                    @include width-height(60px, 60px);
                    margin: 0 auto 20px; 
                }
                @include xxl-devices {
                    @include width-height(70px, 80px);
                }
            }
            h6 {
                font-weight: 700;
                font-size: 12px;
                color: $color__silver;
                @include lg-devices {
                    font-size: 15px;
                }
                @include xxl-devices {
                    font-size: 18px;
                }
            }
        }
    }
}